@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
.locationn .col-3{
    background-color: #01384D;
    height: 100vh;
}
.add-location{
    
    padding: 25px;
}
.add-location .row{
    margin-top: 25px;
}
.add-location p{
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }
.add-location .form-check #flexSwitchCheckChecked{
    background-color: #12AF18;
    border: 1px solid #12AF18;
    width: 50px;
    height: 24px;
     border-radius: 40px;
}
.add-location input{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}
.add-location textarea{
    width: 100%;
    height: 155px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.add-location textarea:focus{
    outline: none;
}
.add-location input:focus{
    outline: none;
}
.add-location .add-location-button{
    display: block;
    padding: 14px;
    width: 100%;
    background-color: #01384D;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
